{% extends "base.html" %}

{% block content %}
  <div>
    <a href="/">Back</a>
  </div>
  {% if error %}
  <h2>User not found</h2>
  <p>There are 3 possible reasons for this:</p>
  <ul>
    <li>
    The app has not finished crawling the repositories the user has contributed to.
    </li>
    <li>
    The user has less than 20 points.
    </li>
    <li>
    You spelled the case sensitive username incorrectly.
    </li>
  </ul>
  {% else %}
    <a href="https://github.com/{{ user.login }}">{{ user.login }} on GitHub</a>
    <table style="float: left">
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Points</th>
        <th>Total Contributions</th>
      </tr>
      {% for user in users %}
      <tr{% if user.rank === rank %} style="background-color: yellow"{% endif %}>
        <td>
          {{ user.rank }}.
        </td>
        <td>
          <img src="{{ user.avatar_url }}">
          <a href="find?user={{ user.login }}">{{ user.login }}</a>
        </td>
        <td>
          {{ user.score|comma }}
        </td>
        <td>
          {{ user.contribCount|comma }}
        </td>
      </tr>
      {% endfor %}
    </table>
    <div style="float: left;">
      <script>
        window.ghpcUserData = {{ user|json_encode|raw }};
      </script>
      <canvas id="graph" width="300" height="300"></canvas>
    </div>
    <script src="graph.js"></script>
  {% endif %}
{% endblock %}
